* {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: pink;
}

#icone{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    text-align:center ;
    padding: 11px;
}

nav>div {
    padding: 5px;
}

/* Usei o nav para distânciar um pouco os botões */

button {
    background-color: white ;
    box-shadow: 2px 2px 5px darkorchid;
    border-radius: 2px violet;
    padding: 2px;
}

button:hover {
    background-color: violet;
    transition-duration: 0.4s;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: black;
}
/* Esse A:Link foi usado para tirar o sublinhado que tinha no botão 
e mudar a cor das letras*/

.icone {
    display: flex;
    justify-self: flex-start;
    height: 25px;
    width: 450px;
    margin-right: 10px;
}

/* Esse icone comando o logo que fica no canto esquerdo superior do Header */


.logo-apresentação {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border: 4px blueviolet
}

.logo {
    width: 20px;
    ;
}


nav {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 2fr 2fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    background-color: orchid;
    border:black solid 2px;
}

nav:nth-child(1){
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-template-rows: ;
}

.texto-cartao {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1/4 ;
}

.text-disc {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 1/4 ;
}

.cartao {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 4/4;
    grid-row: 1/4 ;
    padding: 20px;
}

/* Essa parte vai cuida da discrição do site */


.sacar-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 1/ 3;
    grid-row: 1/1; 
}

.logo-saque {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 4 / 4;
    grid-row: 1/1 ;
}

.saque-explicativo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 1 / 1;
}
/* Essa parte vai controlar o primeiro nav do HTML */
main>div {
    background-color: rgb(255, 150, 51);
    width: 100%;
    height: 20%;
}

#icone:first-child {
    margin-left: auto;
}

.trabalhe-conosco {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: auto;
    grid-row: auto;
}



.porquinho {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 4/4;
    grid-row: 1/1 ;
}

/* tudo que for em cima de Icone vai ficar no topo do site */

h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    grid-column: auto;
}

form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: auto;
}

.cartao-img {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 4/4;
    grid-row: 1/1 ;
}

.pegar-cartao {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: auto;
    grid-row: 1 / 1 ;
}
/* Essa parte vai cuidar da imagem do lugar onde fica o cartão */
footer {
    color: white;
    display: flex;
    background-color: rebeccapurple;
    padding: 20px;
    text-align:center;
    justify-content: center;
    text-align: flex-end;
}

