* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    display: grid;
    min-width: 100vw;
    min-height: 100vh;

}

header {
    background-color: orange;
}

#icone-e-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px
}
#video-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px darkgreen;
    text-align: center;
    padding: 14px ;
}

.video-card{
    width: 100%;
}

#player {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 14px;
}

footer>p {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    padding: 16px;
}